<html>
  <head>
    <title>
      Login Page
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <p>Hey, {{ user.email }}</p>
    {% for i in school_list %}
        <p id="school" class="{{ i.school_id }}">{{ i.school_name }}, {{ i.school_branch_area }}</p>

    {% endfor %}
    <li id="list_of_admins"></li>
    <body>

      <script>

      $("#school").click(function(){
        var myclass = $(this).attr("class");
        var url = "http://127.0.0.1:8000/school/" + myclass;
        alert("Yo");
        $.ajax(url,{
        dataType:"json",
        success : function (response) {
            var data = response
            for(var i=0; i<data.length;i++)
            {
              $("#list_of_admins").append("<ul>"+data[i].email + " of " +data[i].school+"</ul>")
            }

        }
    })

      })


      </script>
</html>
